@import '../../styles/_variables'
@import '../../styles/_typography'
.services
    position: relative
    padding: 100px 0
    background: map-get($palete, 'grayLight')
    @media screen and (max-width: 850px)
        padding: 50px 0
    .servicesContainer
        display: flex
        justify-content: space-between
        align-items: center
        column-gap: 30px
        width: 100%
        @media screen and (max-width: 850px)
            flex-direction: column
            row-gap: 20px
        .servicesInfo
            display: flex
            flex-direction: column
            row-gap: 20px
            width: 100%
            @media screen and (max-width: 1250px)
                row-gap: 0
            @media screen and (max-width: 991px)
                width: 100%
            .servicesTitle
                .title
                    font-family: 'Gilroy', sans-serif
                    +typography(32px, 600, map-get($basic, 'balck'))
                    @media screen and (max-width: 991px)
                        font-size: 42px
                    @media screen and (max-width: 420px)
                        font-size: 32px
            .servicesText
                .text
                    +typography(20px, 500, map-get($palete, 'main'))
                    @media screen and (max-width: 991px)
                        font-size: 18px
            .btn
                width: 50%
                @media screen and (max-width: 420px)
                    width: 100%
        // .servicesImage
        //     width: 50%
        //     transition: all 0.5s ease
        //     // clip-path: polygon(61% 1%, 0 0, 0 100%, 64% 100%, 100% 49%)
        //     .img
        //         height: 100%
        //         width: 100%
        //         filter: grayscale(1)
        //         transition: all 0.5s ease
        //         cursor: pointer
        //         &:hover
        //             filter: none
        .servicesOverlayContainer
            position: relative
            text-align: right
            color: white
            width: 100%
            .textOverlay
                position: absolute
                top: 0
                // right: 0
                left: 0
                margin: auto
                background: rgb(249 249 249)
                padding: 20px
                max-width: 300px
                .textPrimary
                    text-align: center
                    +typography(20px, 600, map-get($palete, 'primary'))
            .img
                width: 100%
                height: auto
                display: block
