@import '../../../styles/_variables'
@import '../../../styles/_typography'
.btn
    background: map-get($palete, 'primary')
    border-radius: 18px
    font-size: 20px
    font-weight: 500
    color: map-get($basic, 'white')
    border: 2px solid map-get($palete, 'primary')
    padding: 12px 40px
    transition: all 0.5s ease
    cursor: pointer
    @media screen and (max-width: 991px)
        font-size: 15px
    @media screen and (max-width: 640px)
        font-size: 14px
    &:hover
        background: #a50424
.outline
    background: transparent
    border: 1px solid map-get($basic, 'white')
